.mt-5, .my-5 {
    margin: 2rem!important;
}

nav .brand-logo{
    font-size: 1.2rem!important;
}

.jumbotron {
    background-color: transparent;
    width: 100%;
}
  
.image{
    margin-top: 10px;
    background-image:url("/static/images/gardeners.gif");
    background-size: cover;  
}

.inner{
    margin-top:70px ;
    }

@media(min-width: 450px){
    .inner{
   position:absolute;
   bottom: 0;
    }
   .jumbotron{
    position:relative; 
    height: 350px;
   }
   
}

@media(min-width: 1024px){
    .container{
        overflow: hidden!important;
    }
    .fixed-action-btn{
    right:15%!important;
    bottom:15%!important;
    }
    .btn-floating.btn-large{
        width: 65px;
        height: 65px;
    }
}

  
.disp_search_out{
    position: relative;
}

.disp_search_in{
    display: inline-block;
}
.card{
  width: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.page-footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: forestgreen;
    color: white;
    text-align: center;
    padding: 0px;
}

.page-item.active .page-link{
    background-color: forestgreen;
}

.btn:hover {
    background-color:forestgreen!important;
}

a{
    color: greenyellow;
}
a:hover{
    color: darkorange;
}

.card-sm{
  margin-bottom: 50px;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.search_box{
    width: 100%;
    margin: 6%;
}
.align-items-center{
    margin: 0px!important;
}

.under-glass{
    background-color: yellow;
}
.outside-seeding {
    background-color: orange;
}

.harvest{
    background-color: green;
}
.header-edit-form{
    text-align: center;
}

.list_headings{
    color: #d8e332!important;
}


.input-group{
  display:table;
  width:100%;
}
.input-group .input-field,
.input-group .input-group-addon{
  display:table-cell;
}

.page-item.active .page-link{
    z-index: 0!important;
}

.card-img-top{
    width: 100%;
    min-height: 300px;
    object-fit: cover;
}
.modal{
    background-color: transparent;
    max-height: 100%;
}

.modal .modal-footer{
    background-color: transparent;
}

.container {
    overflow: auto;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.nav-wrapper{
    background-color: forestgreen;
}

.fixed-action-btn{
    right:6%;
    bottom:6%;
}
