.mt-5, .my-5 {
    margin: 2rem!important;
}

.card{
  width: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.page-footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

.card-sm{
  margin-bottom: 50px;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.search_box{
    width: 100%;
    margin: 6%;
}
.align-items-center{
    margin: 0px!important;
}

.under-glass{
    background-color: yellow;
}
.outside-seeding {
    background-color: orange;
}

.harvest{
    background-color: green;
}
.header-edit-form{
    text-align: center;
}