@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Anton:300,400,500|Maven Pro:100,200,300,400,500,600,700');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a{
    color: #E55500;
    font-family: Roboto;
    font-weight: 800!important; 
}
a:hover{
    color: #001660;
    font-family: Roboto;
    font-weight: 600!important; 
}


.container {
    overflow: auto;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}



/*------------------------------------------------------------------Navbar------------- */
                         
nav .brand-logo{
    font-size: 1.2rem!important;
    
}

.nav-wrapper{
    background-color: forestgreen;
    font-family: Roboto!important;
    font-weight: 700;
    
}

/*------------------------------------------------------------------Jumbothron------------- */

.jumbotron {
    background-color: transparent;
    width: 100%;
    font-family: Roboto!important;
    font-weight: 700;
    color: #E1EAF1;
}
  
.image{
    margin-top: 10px;
    background-image:url("/static/images/gardeners.gif");
    background-size: cover;  
}


.inner{
    margin-top:70px ;
    }


.disp_search_out{
    position: relative;
}

.disp_search_in{
    display: inline-block;
}


.search_box{
    background-color: #E1EAF1!important;
    border-radius: 6px!important;
    width: 100%!important;
    margin:0px!important;
}

.search_btn{
    background-color: #E55500!important;
    border-radius: 6px!important;
}


/*------------------------------------------------------------------Main_Cards_pagintate------------- */


.card{
  width: 100%;
}

.mt-5, .my-5 {
    margin: 2rem!important;
}


.page-item.active .page-link{
    background-color: forestgreen;
}

.page-item.active .page-link{
    z-index: 0!important;
}

.btn:hover {
    background-color:forestgreen!important;
}

  
.card-title{
    color: #E55500;
    font-family: Roboto;
    font-weight: 800!important; 
}    

.card-img-top{
    width: 100%;
    min-height: 300px;
    object-fit: cover;
}

.card-sm{
  margin-bottom: 50px;
}  

/*------------------------------------------------------------------Footer------------- */
.page-footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: forestgreen;
    color: white;
    text-align: center;
    padding: 0px;
}


/*------------------------------------------------------------------Forms------------- */
.font{
    font-family: Roboto;
/*    font-weight: 800!important; 
*/    
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}


.align-items-center{
    margin: 0px!important;
}

.under-glass{
    background-color: yellow;
}
.outside-seeding {
    background-color: orange;
}

.harvest{
    background-color: green;
}
.header-edit-form{
    text-align: center;
}

.list_headings{
    color: #d8e332!important;
}


.input-group{
  display:table;
  width:100%;
}
.input-group .input-field,
.input-group .input-group-addon{
  display:table-cell;
}

.fixed-action-btn{
    right:6%;
    bottom:6%;
}
                      
/*------------------------------------------------------------------Modal------------- */

.modal{
    background-color: transparent;
    max-height: 100%;
}

.modal .modal-footer{
    background-color: transparent;
}



/*------------------------------------------------------------------Media Queries------------- */

@media(min-width: 450px){
    .inner{
   position:sticky;
   bottom: 0;
    }
   .jumbotron{
    position:relative; 
    height: 350px;
   }
   
}

@media(min-width: 1020px){
    .container{
        overflow: hidden!important;
    }
    .fixed-action-btn{
    right:15%!important;
    bottom:15%!important;
    }
    .btn-floating.btn-large{
        width: 65px;
        height: 65px;
    }
}

  
