{% extends "base.html" %}
{% block content %}

    <div class="row text-center justify-content-center">
      {% for plant in plants%}
   
        <a href="#" class="card col-md-11 col-lg-3 mt-5 col-sm-11 col-xl-3" >
          <img src="{{plant.picture_link}}" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">{{plant.plant_name}}</h5>
              </div>
        </a>
      {%endfor%}
    <!--< /div> -->
    <!--<div class="row justify-content-center">-->
        <div class="col-10-lg search_box">
          <form class="card card-sm">
              <div class="card-body row  align-items-center">
                  <div class="col-1">
                      <i class="material-icons">search</i>
                  </div>
                  <!--end of col-->
                  <div class="col-9">
                      <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search plant">
                  </div>
                  <!--end of col-->
                  <div class="col-1">
                      <button class="btn btn-primary" type="submit">Search</button>
                  </div>
                  <!--end of col-->
              </div>
            </form>
          </div>
      </div>
    

{% endblock %}