{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center image">
  <div class="jumbotron jumbotron-fluid text-left ml-2  font-weight-bold">
    <h1 class="display-6">Garden planner</h1>
    <p class="lead">Plan your vegatable and Fruit garden all year round</p>
    <hr class="my-6">
    <p>Just create your user and get started update and add your own knowladge</p>
    <p>Share new crops and different growing techiques to garden in Norht Brabant</p>
    <div class="row container-fluid inner">
      <form class="col-lg-6 nopadding" id="search-site" action="{{ url_for('search') }}" ' method='get '>
        <div class="input-group mt-5 col-8 nopadding">
          <div class="col-6 float-right nopadding">
          <button type="submit" class="input-group-addon btn">search</button>
          </div>        
          <div class="col-6 float-left nopadding">
          <label><input id="search" type="search" name='query' class="col-9 nopadding"><i class="material-icons nopadding green-text col-2" >search</i></label>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

<div class="row text-center justify-content-center">
  {% for plant in plants%}
    <a href="{{url_for('view_plant', plant_id=plant._id)}}" class="card col-md-4 col-lg-3 mt-5 col-sm-12 col-xl-3" >
      <img src="{{plant.picture_link}}" class="card-img-top" alt="Responsive image" class="img-thumbnail">
      <div class="card-body">
         <h5 class="card-title">{{plant.plant_name}}</h5>
      </div>
    </a> 
  {%endfor%}
</div>

<div>
  <div aria-label="" class="card-sm">
    <ul class="pagination justify-content-center">
      {% if page > 1 %}
      <li class="page-item">
        <a class="page-link" href="{{url_for('get_plant_record', page=page-1)}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}
      {% for pagenum in pages %}
        {% if pagenum == page %}
          <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{{ pagenum }}<span class="sr-only">(current)</span></a> {% else %}
        <li class="page-item">
          <a class="page-link" href="{{url_for('get_plant_record', page=pagenum)}}">{{ pagenum }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page < total %}
        <li class="page-item">
          <a class="page-link" href="{{url_for('get_plant_record', page=page+1)}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
  
{% endblock %}