{% extends "base.html" %}
{% block content %}

  <div class="row">
    <form action="{{ url_for('edit_plant', plant_id=plant._id) }}" method="POST" class="col s12">
      <h3 class="header-edit-form">Edit Plant</h3>
        <div class="row">
            <div class="input-field col-sm-12 col-md-6 col-lg-3">
              <input disabled value="{{plant.plant_name }}" id="disabled" type="text" class="validate" >
              <label for="disabled">Plant Name</label>
            </div>
            <div class="input-field col-sm-12 col-md-6 col-lg-3">
              <input placeholder="Placeholder" id="crop_group" type="text" class="" value="{{plant.crop_group }}">
              <label for="crop_group">Crop Group</label>
            </div>
            <div class="input-field col-sm-12 col-md-6 col-lg-3">
              <input placeholder="Placeholder" id="crop_family" type="text" class="" value="{{plant.crop_family }}">
              <label for="crop_family">Crop Family</label>
            </div>
            <div class="input-field col-sm-12 col-md-6 col-lg-3">
              <input placeholder="Placeholder" id="soil" type="text" class="" value="{{plant.soil }}">
              <label for="soil">Soil</label>
            </div>
        </div>
        <div class ="row">
            <div class="switch col-sm-12 col-md-6">
                <label>
                  {% if plant.frost_tolerant %}
                          <input id="frost_tolerant" name="frost_tolerant" type="checkbox" checked>
                    {% else %}
                         <input id="frost_tolerant" name="frost_tolerant" type="checkbox">
                    {% endif%}
                  <span class="lever"></span>
                  Is Frost Tolerent
                </label>
            </div>  
            <div class="switch col-sm-12 col-md-6">
                <label>
                  {% if plant.feeding %}
                          <input id="feeding" name="feeding" type="checkbox" checked>
                    {% else %}
                         <input id="feeding" name="feeding" type="checkbox">
                    {% endif%}
                  <span class="lever"></span>
                  Feeding required
                </label>
            </div>                        
        </div>
      <div class="row">
        <div class="input-field col-sm-12 col-md-6">
          <textarea id="companions" class="materialize-textarea">{{plant.companions }}</textarea>
          <label for="companions">Companions</label>
        </div>
        <div class="input-field col-sm-12 col-md-6">
          <textarea id="spacing" class="materialize-textarea">{{plant.spacing }}</textarea>
          <label for="spacing">Spacing</label>
        </div>
        <div class="input-field col-sm-12 col-md-6">
          <textarea id="Sow_and_Plant" class="materialize-textarea">{{plant.Sow_and_Plant }}</textarea>
          <label for="spacing">Sow and Plant</label>
        </div>
        <div class="input-field col-sm-12 col-md-6">
          <textarea id="Harvesting" class="materialize-textarea">{{plant.Harvesting }}</textarea>
          <label for="Harvesting">Harvesting</label>
        </div>
        <div class="input-field col-sm-12 col-md-6">
          <textarea id="Pests" class="materialize-textarea">{{plant.Pests }}</textarea>
          <label for="Pests">Pests</label>
        </div>
        <div class="input-field col-sm-12 col-md-6">
          <textarea id="Note" class="materialize-textarea">{{plant.Note }}</textarea>
          <label for="Note">Notes and Tips</label>
        </div>        
        <div class="input-field inline col-sm-12 col-md-12">
          <input id="picture_link" type="url" class="validate" value = "{{plant.picture_link }}">
          <label for="picture_link" data-error="wrong" data-success="right">Picture link</label>
        </div>
      </div>
    </form>
  </div>
  
{% endblock %}